/* @media screen and (max-width: 660px) {
Remove carousel, SEE: mobile code tag at the bottom
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color:#000000;
}


a:link, a:visited {
  text-decoration: none;
  color:rgb(88, 88, 88)
}

a:hover a:active {
  color:rgb(45, 160, 160);
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-link {
  font-family: 'Comfortaa', cursive;
  font-style: bold;
}
a.nav-link:hover {
  color:rgb(45, 160, 160);
}

/*carousel modifications*/
.min-width-div {
  min-width: 660px;
}
a.carouselText, .carouselDetail {
  color : rgb(255, 255, 255);
  margin: 0 60% 0 0;
  white-space: nowrap;
  font-weight : bold;
  font-size: 43px;
}
a.carouselText:hover {
  color:rgb(231, 101, 68);
}
.carouselDetail {
  color : rgb(219, 218, 218);
  font-weight : 0;
  text-align: left;
  font-size: 20px;
}

@media only screen and (max-width: 990px) {
    .carousel-slide {
      display: none;
      
    }
  }

.text-block {
  background-color: rgb(0, 0, 0);
  padding-bottom: 8px;
  padding-left: 9px;
  width: 660px;
  position: static;
  border-radius: 6px;
}

/*Styling for information cards*/

.heading-top {
  text-align: center;
  margin-top: 5em
}
/*cover images*/
.pages_cover {
  width: 100%;
  height: 500px;
  background-position:center;
  display: flex;
  background-size: cover;
}
/* link paths under the cover images*/
.menu-path {
  font-size: 15px;
}
/*generic box for text/contents*/
.card-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  color:rgb(231, 101, 68);
  font-family: 'Lexend Deca', sans-serif;
}

h3 {
  font-family: 'Comfortaa';
  color:rgb(45, 160, 160);
}



.heading-bottom, .heading-top{
  font-family: 'Comforta', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

span {
  color:rgb(45, 160, 160);
}


.card {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left:20px;
}

.card-title {
  color:rgb(231, 101, 68);
  font-family: 'Comforta', sans-serif;
  margin:10px
  }
  

  .card:hover {
    opacity: 0.5;
    background-color: lightblue;
   
  }

    
   
 


  
  
  
  
  




  
  
  
  
  

  

  
  

  
 
 
  

  



  
  
  




 
  


  

  
  
  
  




  
  
  



/*route pages map mods*/
#map {
  height: 405px;
  width: 100%;
  display: block;
}
#inner-map {
  width: 100%;
  height: 400px;
}
.route-guide-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

/*footer*/
.footer {
  display: flex;
  padding: 10px;
  height: 300px;
  width: 100%;
  min-width: 660px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(231, 101, 68);
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  height: 260px;
  width: 250px;
  min-width: 150px;
  text-align: center;
  
}
/*weather block*/
.weatherwidget {
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color:rgb(248, 206, 66); 
  padding: 10px;
  height: 260px;
}
h8 {
  font-family: 'Comfortaa', cursive;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color:rgb(248, 206, 66); 
  border-radius: 10px;
  width: 230px;
  height: 240px;
  border: 2px solid rgb(0, 0, 0);
}
.form-box {
  width: 210px;
  margin: 3px;
  border-radius: 3px;
}
/*social media icon links box*/
.social-media {
  max-height: 35px;
  max-width: auto;
  margin: 3px;
}
.social-media:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* social media button shake code */
 @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*copyright section*/
.copyrights, .copyrights-mobile {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 40px;
  margin-right: 40px;
  /* font-family:; */
  padding: 6px;
  /* border: solid 1px black; */
}
.small-text {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(126, 126, 126)
  /* border: solid 1px black; */
}
.our-names {
  font-family: 'Comfortaa', cursive;
  margin-top: 7px;
  font-size: 17px;
  color:rgb(231, 101, 68);
}


/* Mobile settings */

/*hero image*/
.text-block-mobile {
  background-color: rgb(0, 0, 0);
  padding: 8px;
  width: 100%;
  height: 55px;
  position: sticky;
  margin-top: 440px;
}


  .footer-phone {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    background-color:rgb(231, 101, 68);
    
   
  
}
  /*footer*/

/* Dropup Form Button */
.dropbtn, .contactbtn,.contactbtn-main {
  background-color: #000000;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 6px; 
 }
.dropbtn:hover {
  background-color:rgb(25, 86, 88);
  color:rgb(255, 255, 255);
}
.contactbtn:hover {
  background-color:rgb(25, 86, 88);
  color:rgb(255, 255, 255);
}
#dropup {
  display: inline-block;
  position: sticky;
  top: 20px;
}
#contact-drop {
  display: none;
  position: absolute;
  background-color:rgb(255, 255, 255);
  min-width: 200px;
  min-height: 200px;
  bottom: 50px;
  z-index: 1;
  padding: 10px;
  border-radius: 6px;
} 

/*copyrights*/
.copyrights-mobile {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.small-text-mobile {
  font-size: 14px;
}