/* @media screen and (max-width: 660px) {
Remove carousel, SEE: mobile code tag at the bottom
} */

body {
  color:#000000;
}

a:link, a:visited {
  text-decoration: none;
  color:rgb(88, 88, 88)
}

a:hover, a:active {
  color:rgb(35, 155, 155);
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-link {
  font-family: 'Comfortaa', cursive;
  font-style: bold;
}

/*carousel modifications*/
.min-width-div {
  min-width: 660px;
}
a.carouselText, .carouselDetail {
  color : rgb(255, 255, 255);
  margin: 0 60% 0 0;
  white-space: nowrap;
  font-weight : bold;
  font-size: 43px;
}
a.carouselText:hover {
  color:rgb(231, 101, 68);
}
.carouselDetail {
  color : rgb(219, 218, 218);
  font-weight : 0;
  text-align: left;
  font-size: 20px;
}
.text-block {
  background-color: rgb(0, 0, 0);
  padding-bottom: 8px;
  padding-left: 9px;
  width: 650px;
  position: static;
  border-radius: 6px;
}

/*cover images*/
.pages_cover {
  width: 100%;
  height: 500px;
  background-position:center;
  display: flex;
  background-size: cover;
}


/*generic box for text/contents*/
.card-box {
  text-align: center;
  margin-top: 50px;
}

/* castle page cards*/
.castle-card-box {
  text-align: center;
  margin-top: 10px;
}
.castle-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.castle-wrapper {
  display: flex;
  border-radius: 8px;
  flex-direction: row;
  width: 500px;
  height: 250px;
}
.castle-map-box {
  display: inline-block;
  width: auto;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.castle-img-box {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.castle-img-box img {
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: .4s ease-in-out;
  opacity: 1;
  width: auto;
  height: 250px;
}
.castle-img-box:hover img {
  transform: scale(1.3);
}
.castleImgBoxOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color:rgba(231, 101, 68, 0.521);
}
.castleImgBoxOverlay:hover {
  opacity: 1;
}
.castle-img-box-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*route pages map mods*/
#map {
  height: 405px;
  width: 100%;
  display: block;
}
#inner-map {
  width: 100%;
  height: 400px;
}

/*footer*/
.footer {
  display: flex;
  padding: 10px;
  height: 300px;
  width: 100%;
  min-width: 660px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(231, 101, 68);
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  height: 230px;
  width: 250px;
  min-width: 150px;
  text-align: center;
  /* border: solid 1px black; */
}
/*weather block*/
.weatherwidget-io {
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
}
.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 230px;
  height: 230px;
  /* border: solid 1px black; */
}
.form-box {
  width: 220px;
  margin: 3px;
  border-radius: 3px;
}
/*social media icon links box*/
.social-media {
  max-height: 35px;
  max-width: auto;
  margin: 3px;
}
.social-media:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* social media button shake code */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*copyright section*/
.copyrights, .copyrights-mobile {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 40px;
  margin-right: 40px;
  /* font-family:; */
  padding: 6px;
  /* border: solid 1px black; */
}
.small-text {
  font-size: 11px;
}



/* Mobile settings */

/*footer*/
.footer-phone {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color:rgb(231, 101, 68);
  /* border: solid 1px black; */
}

/* Dropup Form Button */
.dropbtn, .contactbtn,.contactbtn-main {
  background-color: #000000;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
}
.dropbtn:hover {
  background-color:rgb(26, 145, 145);
  color:rgb(255, 255, 255);
}
.contactbtn:hover {
  background-color:rgb(26, 145, 145);
  color:rgb(255, 255, 255);
}
#dropup {
  display: inline-block;
  position: sticky;
  top: 20px;
}
#contact-drop {
  display: none;
  position: absolute;
  background-color:rgb(255, 255, 255);
  min-width: 200px;
  min-height: 200px;
  bottom: 50px;
  z-index: 1;
  padding: 10px;
  border: 1 solid black;
  border-radius: 6px;
}

/*copyrights*/
.copyrights-mobile {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.small-text-mobile {
  font-size: 14px;
}